@charset "UTF-8";

#wrap {
	width:1200px;
	margin:auto;
}

header {
	height:70px;
	background-color:#dddddd;
}

.contents > .input-box {
	width:600px;
}

.contents > .join-box {
	width:350px;
}

footer {
	height:70px;
	background-color:#dddddd;
}